{% extends 'partials/page-team.htm' %} {% load static %} {% block team_detail %}
<div class="body">
    {% include 'partials/danam_navbar.htm' with extra_links='partials/monument-link.htm' %}
    <div role="main" class="main">

        <div class="container pt-5">

            <div class="row">
                <div class="col-md-7 order-2">
                    <div class="overflow-hidden">
                        <h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Prof. Dr. Axel Michaels
                        </h2>
                    </div>
                    <div class="overflow-hidden">
                        <p class="font-weight-bold text-primary text-uppercase appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">Directorate and coordination
                        </p>
                    </div>
                    <p class="lead appear-animation text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">Senior Professor and Member of the Heidelberg Academy of Sciences and Humanities, Axel Michaels has been researching on Newar rituals in Bhaktapur along with Niels Gutschow. He is also the leader of the project 'Documents on the
                        <a href="https://www.hadw-bw.de/forschung/forschungsstelle/religions-und-rechtsgeschichtliche-quellen-des-vormodernen-nepal/die-forschungsstelle" target="_blank"> History of Religion and Law of Pre-modern Nepal'</a> at Academy.
                        Axel has published widely on Nepalese culture and traditions, his latest publication being 'Kultur und Geschichte Nepals' (Kröner 2018) (English translation 'Culture and History of Nepal').</p>

                    <hr class="solid appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
                    <div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                        <div class="col-lg-6">
                            <a href="mailto:michaels@hcts.uni-heidelberg.de" class="btn btn-modern btn-dark">Get In
								Touch</a>
                            <a href="https://www.sai.uni-heidelberg.de/krs/abteilung/michaels.html" target="_blank" class="btn btn-modern btn-primary">Website</a>
                        </div>
                        <!--	<div class="col-sm-6 text-lg-right my-4 my-lg-0">
									<strong class="text-uppercase text-1 mr-3 text-dark">follow me</strong>
									<ul class="social-icons d-none d-sm-block social-icons-clean float-lg-right">
										<li class="social-icons-wikipedia-w"><a href="http://www.facebook.com/" target="_blank" title="Website"><i class="fab fa-wikipedia-w"></i></a></li>
										<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
										<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div> -->
                    </div>
                </div>
                <div class="col-md-5 order-md-2 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
                    <img src="{% static 'img/team/AM.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
            <!-- <h2 class="text-color-dark font-weight-bold text-5 mb-0 pt-0 mt-0">
				Publications
			</h2>
			<a href="{% static 'articles/Oslo-dipankarayatra.pdf' %}" target="_blank">Michaels, Axel. “From Syncretism
				to Transculturality: The Dīpaṅkara
				Procession in the Kathmandu Valley.” In South Asian Festivals on the Move,
				edited by Ute Hüsken and Axel Michaels, 317–42. Wiesbaden: Harrassowitz,
				2013.</a> -->
        </div>
    </div>
</div>
{% include 'partials/javascript.htm' %} {% endblock %}