{% extends 'partials/page-team.htm' %}
{% load static %}
{% block team_detail %}
<div class="body">
    {% include 'partials/danam_navbar.htm' %}
    <div role="main" class="main">
        <div class="container pt-5">
            <div class="row py-4 mb-2">
                <div class="col-md-7 order-2">
                    <div class="overflow-hidden">
                        <h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation"
                            data-appear-animation="maskUp" data-appear-animation-delay="300">Rajendra Shakya
                        </h2>
                    </div>
                    <div class="overflow-hidden mb-3">
                        <p class="font-weight-bold text-primary text-uppercase mb-2 appear-animation"
                            data-appear-animation="maskUp" data-appear-animation-delay="500">Nepal Team</p>
                    </div>
                    <p class="lead appear-animation text-justify" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="700">
                        Rajendra Shakya completed his M.A. in Newar studies with honors from the Tribhuvan University
                        (TU). He has translated and edited many legal documents of the late 19th century mostly from
                        Tsum and Kutang in Upper Gorkha region for Documents on the History of Religion and Law of
                        Premodern Nepal. Rajendra was a craftsman before he started working as a journalist in 2003 and
                        was affiliated to various electronic media till the end of 2014. He spent a longer part of his
                        career in the radio, producing programs on Newar history, culture, art and architecture, along
                        with current affairs for Ujyaalo 90 Network. For NHDP, he translates and interprets texts and
                        inscriptions.
                    </p>

                    <hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="800">
                    <div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="900">
                        <div class="col-lg-6">
                            <a href="mailto:raazshakya@gmail.com" class="btn btn-modern btn-dark mt-3">Get In
                                Touch</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation"
                    data-appear-animation="fadeInRightShorter">
                    <img src="{% static 'img/team/RSK.jpg' %}" class="img-fluid mb-2" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/javascript.htm' %}
{% endblock %}