{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ app_settings.APP_NAME }} - Welcome</title>

    <meta name="keywords" content="NHDP" />
    <meta name="description" content="Nepal Heritage Documentation Project">
    <meta name="author" content="NHDP">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
        rel="stylesheet" type="text/css">

    {% include 'partials/css.htm' %}
    <!-- Default css -->

</head>

<body data-spy="scroll" data-target="#navSecondary" data-offset="172">
    <div class="body">
        {% include "partials/danam_navbar.htm" %}
        <div role="main" class="main">
            <div class="container sticky-container">
                <div class="row pt-5 m-0">
                    <div class="col mb-4 mb-lg-0">
                        <h2 class="font-weight-normal text-7">Bhurtī temple complex</h2>
                        <figure class="mt-0" style="float: left;">
                            <a href="{% static 'img/feature_search/Bhurti_H_20140924.webp' %}" target="_blank"
                                rel="noopener noreferrer">
                                <img style="margin-right: 20px; margin-bottom: 0px;" width="700" height="auto"
                                    src="{% static 'img/feature_search/Bhurti_H_20140924.webp' %}" alt="Bhurtī temple complex">
                            </a>
                            <figcaption class="thumb-info-caption-text text-uppercase text-1 pb-0 mb-0"
                                style="max-width: fit-content;">
                                Bhurtī Temple Complex, view from south-east, photo by David C. Andolfatto, September 2014
                            </figcaption>
                        </figure>

                        <div class="text-justify mt-0">
                            <p>
                                The Bhurtī temple complex is located three kilometres north of Nārāyaṇa, the Dailekh
                                district headquarters. It is comprised of 22 <i>śikhara</i> temples and one stone
                                fountain.
                            </p>
                            <p>
                                <i>Śikhara</i> temples are known in west Nepal as <i>devala</i> (pronounced <i>deval</i>
                                <i>dewal</i>). They are
                                related to the so called <i>‘latina nāgara’</i> or ‘North Indian Nāgara’ type of
                                monuments.
                                This architecture is primarily found in the Himalayas from the 7th century onwards.
                                Between the 10th and 11th centuries, a new type of <i>latina</i> developed between
                                Uttarakhand
                                and western Nepal. As it is less ornamented than earlier temples, this new typology was
                                recently coined ‘simplified <i>latina</i>’. The monuments in Bhurti fall into this
                                category.
                            </p>
                            <p>
                                The Bhurtī devala were constructed in different configurations: free standing (<i>ekle
                                    devala</i>), by pairs (<i>duī devala</i>) and by groups of five
                                (<i>pañcadevala</i>). While free standing
                                temples and <i>duī devala</i> are rather common throughout the region,
                                <i>pañcadevala</i> are mostly
                                found in the districts of Dailekh, Achham and Kalikot, areas that were controlled by the
                                Rāskoṭi kings.
                            </p>
                            <p>
                                Today only one complete pañcadevala (DLK0016) in Bhurti remains. Two other
                                <i>pañcadevala</i>
                                (DLK0012 and 0013) have lost one or two <i>śikhara</i>. The Duī Devala of Bhurtī
                                (DLK0015) with
                                a central pavilion connecting its two śikhara is a rarity in the Karnali region.
                            </p>
                            <p>
                                The temples of Bhurtī show no signs of religious affiliation. Elsewhere
                                <i>pañcadevala</i> were
                                affiliated with Shaiva which may have also been the case in Bhurtī. Beyond their
                                religious affiliation, the organization of the site and the cultural context of West
                                Nepal during the medieval period indicates that the temples had a memorial purpose.
                            </p>
                            <p>
                                The construction of these temples took place between the 13th and 15th centuries, a
                                period corresponding to the latter part of the Khaśa Malla empire and the early phase of
                                the Rāskoṭi dynasty. The Khaśa Malla empire was a trans-Himalayan polity stretching from
                                Mustang to Uttarakhand between the 12th and 14th centuries. One of the Khaśa Mallas’
                                capitals was established in Dullu, six kilometres west of Nārāyaṇa. The second half of
                                the 14th century marks the progressive collapse of the empire and the rise of petty
                                kingdoms. Malaya Varmā (r. 1378-1389) was the first king of the Rāskoṭi dynasty and the
                                territory under his control encompassed most of the Karnali basin, including today’s
                                Kalikot and Dailekh districts, and probably parts of Jumla and Achham. The kings of
                                Dullu and Dailekh belonged to the Rāskoṭi lineage of Malaya Varmā.
                            </p>
                            <p>
                                In 2008, the ‘Bhurti Temple Complex of Dailekh’ was included in UNESCO’s World Heritage Tentative List.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row pt-5 m-0">
                    <div class="col mb-4 mb-lg-0">
                        <figure class="mt-0" style="float: left;">
                            <a href="{% static 'img/feature_search/Bhurti_site_plan.jpg' %}" target="_blank" rel="noopener noreferrer">
                                <img style="margin-right: 20px; margin-bottom: 0px;" width="550" height="auto" src="{% static 'img/feature_search/Bhurti_site_plan.jpg' %}" alt="Bhurti Temple Complex Dailekh">
                            </a>
                            <figcaption class="thumb-info-caption-text text-uppercase text-1 pb-0 mb-0" style="max-width: fit-content;">
                                Bhurtī Temple Complex location map & site plan
                            </figcaption>
                        </figure>
                        <figure class="mt-0" style="float: left;">
                            <a href="{% static 'img/feature_search/DLK0010_H.jpg' %}" target="_blank" rel="noopener noreferrer">
                                <img style="margin-right: 20px; margin-bottom: 0px;" width="400" height="auto" src="{% static 'img/feature_search/DLK0010_H.jpg' %}" alt="Bhurti Temple Complex Dailekh">
                            </a>
                            <figcaption class="thumb-info-caption-text text-uppercase text-1 pb-0 mb-5" style="max-width: fit-content;">
                                Bhurtī Temple Complex, view from south<br> Photo by Marc Gaborieau, 1967
                            </figcaption>
                            <div class="d-flex flex-column mt-4 link-color">
                                <p class="pb-0 text-4 font-weight-bold">Links to individual monuments</p>
                                <div class="mt-0 pt-0">
                                    <a href="https://danam.cats.uni-heidelberg.de/report/56a5632a-c2df-41f2-8fbb-2d82330d9c76" style="color: #777" target="_blank" rel="noopener noreferrer">
                                        DLK0010 Bhurtī Ekle Devala 1
                                    </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/09adaf39-4932-4356-b6d1-3cce3af16e82" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0011 Bhurtī Ekle Devala 2
                                </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/ca03a00c-e96a-4eef-bd2e-13f7942459a5" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0012 Bhurtī Pañcadevala 1
                                </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/63cd4a6e-4a3a-4241-86ff-428121b2a15c" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0013 Bhurtī Pañcadevala 2                                
                                </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/1d95833c-6cbe-4f96-be3c-fad253fe5f27" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0014 Bhurtī group of three Śikhara                                
                                </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/9c4ca4e2-c676-4da1-9a0c-f1abf393123e" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0015 Bhurtī Śikhara Temples with Pavilion                                
                                </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/5864a56c-7d5f-4174-ab70-9b73013c325f" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0016 Bhurtī Pañcadevala 3                            
                                </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/265a30ab-5d14-4b23-823d-171e8ecfedc0" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0017 Bhurtī Duī Devala                                
                                </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/1b800023-3ea3-48df-b4ac-c2fae7966360" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0018 Bhurtī Ekle Devala 3                               
                                </a>
                                </div>
                                <div>
                                    <a href="https://danam.cats.uni-heidelberg.de/report/1279d314-220a-4acb-9622-67d050fc75db" style="color: #777" target="_blank" rel="noopener noreferrer">
                                    DLK0019 Bhurtī Dhārā                                
                                </a>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% include 'partials/javascript.htm' %}
</body>

</html>