{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ app_settings.APP_NAME }} - Welcome</title>

    <meta name="keywords" content="NHDP" />
    <meta name="description" content="Nepal Heritage Documentation Project">
    <meta name="author" content="NHDP">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
        rel="stylesheet" type="text/css">

    {% include 'partials/css.htm' %}
    <!-- Default css -->

</head>

<body data-spy="scroll" data-target="#navSecondary" data-offset="172">
    <div class="body">
        {% include "partials/danam_navbar.htm" %}
        <div role="main" class="main">
            <div class="container sticky-container">
                <!-- <h2 class="text-center">Pimbahal</h2> -->
                <hr>
                <div class="row pt-5 m-0">
                    <div class="col mb-4 mb-lg-0">
                        <h2 class="font-weight-normal text-7">Cyàsal</h2>
                        <figure class="mt-0" style="float: left;">
                            <a href="{% static 'img/feature_search/cyasal.jpg' %}" target="_blank"
                                rel="noopener noreferrer">
                                <img style="margin-right: 20px; margin-bottom: 0px;" width="700" height="auto"
                                    src="{% static 'img/feature_search/cyasal.jpg' %}" alt="Ikalakhu">
                            </a>
                            <figcaption class="thumb-info-caption-text text-uppercase text-1 pb-0 mb-0"
                                style="max-width: fit-content;">
                                Nhugu Phalcā at Cyāsal, dāphā bhajana for kartik purnima, view from NE; photo by
                                Christiane Brosius; 2019-11-12
                            </figcaption>
                        </figure>

                        <div class="text-justify mt-0">
                            <p>
                                Cyāsal is one of the key monument heritage areas selected for the NHDP pilot phase
                                (please note that
                                by doing so, we neither follow the official and administrative boundaries, such as
                                defined by the
                                Department of Archeology, nor do we intend to create a new heritage zone that collide
                                with the
                                existing official boundaries!). It is a unique site, of various interconnected and
                                meandering
                                squares that turn Cyasal also into one of the few large open areas the densely built old
                                city of
                                Patan has (other exceptions are Pimbahal and Patan Darbar Square, see monument areas…).
                                The area is
                                very popular among local residents and urban youth from the Kathmandu Valley as well as
                                some
                                tourists. Especially the festivals are popular, but the area also has some remarkable
                                smaller and
                                larger monuments that deserve our attention. As an ensemble, Cyāsal tole (Ṭola) is,
                                thus, a
                                remarkable habitat of both Newar urban cultural heritage and modern facets interrelated.
                                The ancient
                                trade-route cutting through the square from East to West, is still relevant. Cyāsal is
                                now
                                surrounded by splintering urbanism, most fields have been sold and converted into ground
                                for
                                constructions. For NHDP, we have so far documented 20 phalcās and in this small-scale
                                vicinity,
                                which has a density of public and semi-public monuments as hardly any other
                                neighbourhood in Patan’s
                                old city, possibly even Kathmandu. Moreover, eight other monuments such as shrines,
                                ponds/stepwells,
                                caitya/stūpas and monasteries have been documented and mapped. Although Cyāsal’s
                                buildings,
                                residential and public, were quite badly hit by the earthquakes of 2015, reconstruction
                                was very
                                important, also because residents of the area are proud of the tangible and intangible
                                heritage and
                                actively use and engage in practicing it, be it for festivals, feasts, annual rituals
                                and
                                processions, or devotional chanting.
                            </p>
                            <p>
                                The locality has got several Licchavi period stone inscriptions to trace back its
                                history to ancient
                                period. Also, one of the four Cila͂caityas believed to be built about 2250 years ago
                                during the time
                                of Great King Aśoka of Magadh (India) is also situated here. The shadow play in the
                                Bhailaḥ (Avaḥ
                                Guṭhī) capāḥ during Indrajātrā is the cultural specialty of this area.
                                Cyāsal was a final battlefield for the battle between Kirantas and Lichhavis. About 250
                                A.D.,
                                Lichhavis are said to have attacked this post, killing 800 Kirantas who were guarding
                                the post. In
                                Newari language, 800 means chyasa, thus this place is also a ‘memory site’. Mainly
                                people from the
                                caste of the “Vyan͂janakāra” (traditionally kitchen gardeners) and Avāle (often tilers,
                                potters)
                                reside here, the latter more towards the South of the large square, the first towards
                                the North.
                                Earlier, there would have been communal tensions between these groups, but those have
                                now become
                                part of the folkloristic memory rather than active conflict. Members of Maharjan
                                farmers, members of
                                Śākya or Śhreṣṭha caste names are written in diacritics above and below castes also live
                                in
                                and around Cyāsal square.
                            </p>
                            <p class="text-justify">
                                According to an Avāle resident (aged 55) the Avāles are divided into two guṭhīs i. e. the Cidha͂
                                (smaller) and the Tadha͂ (bigger) and into ten Si (death) Guṭhīs as well. The members of Cidha͂
                                Guṭhī are called Lā manaṃ (vegetarians). Only five families still live in Bhindyaḥlāchi. The other
                                Avāles are connected to the Tadha͂ Guṭhī. Some Avāles have migrated from Kathmandu, near Ason Tole
                                (Asana Ṭola), to Cyāsal Tole. They shifted their lineage deity from Lainchaur to Depacākhyaḥ in
                                Shankhamool (Śaṅkhamūla), Patan and worship her in the month of Pauṣa/Māgha (Jan-March).
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row pt-5 m-0 mb-5">
                    <div class="col mb-4 mb-lg-0">
                        <figure class="mt-0" style="float: left;">
                            <img style="margin-right: 20px; margin-bottom: 0px; height: 700px; width: 700px"
                                src="{% static 'img/feature_search/map-of-cyasal.webp' %}"
                                alt="Bhurti Temple Complex Dailekh">
                            <figcaption class="thumb-info-caption-text text-uppercase text-1 pb-0 mb-0"
                                style="max-width: fit-content;">
                                Cyàsal, SITE PLAN BY BIJAY BASUKALA
                            </figcaption>
                        </figure>
                        <div class="d-flex flex-column">
                            <p class="pl-4 pr-4 pb-0 text-4 font-weight-bold">Links to individual monuments</p>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/5c766eac-e5d2-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL1590 Gaṇeśa Mandira
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/dcfc4ed2-e74b-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL1600 Cyāsaḥ Hiṭī
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/309c85aa-e8ed-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL1620 Cikã Bahī                               
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/f6968910-e8f0-11e9-b125-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL1630 Buramāṃ Vaidya Bāhāḥ
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/e2e7bd8e-e81a-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL1640 Cibāhāḥ Nani
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/4db72ccc-e6c6-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL1650 Bhaiṣajyarāja Bāhāḥ
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/557a604c-e6a7-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL1680 Bhīmasena Dyaḥchẽ
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="#"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL4134                                     
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/1176053e-eb54-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4135 Bhindyaḥlāchi Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/ccd765bc-e900-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4136 Bhailaḥ Cidhã Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/2c57e6c8-e8cb-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4137 Bhailaḥ Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/2548d9e2-ea78-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4138 Lāmanaḥ Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/673afbfc-e6f2-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4139 Bhindyaḥ Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/95b952e2-e8c5-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4140 Avāḥ Capāḥ
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/27ca1a68-e9ca-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4150 Thalbũ Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/3f87ad30-e5d0-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4151 Nārāṃhiṭī Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/b7910d9c-e915-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4152 Maṇikula Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/3e7d7be6-ea61-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4153 Bhau Kisi Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/99847ffe-f320-11e9-8649-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4154 Cyāsal Phalchā 4
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/9f7d86ba-e6c5-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL4155 Aśoka Stūpa Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/bde08b8a-e5ed-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4156 Māghe Dāphā Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/56fa3190-ea8a-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4157 Cyāsal Hiti Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/c0655dd4-e671-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4158 Kisi Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/cf2cf2a2-fbb9-11e9-a3c8-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4159 Nhugu Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/b23905f8-e7f2-11e9-8bc4-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4160 Atāḥ Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/f9cdfd48-e837-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4161 Nāsaḥ Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/304bed70-ec0d-11e9-b125-0242ac130002"
                                    target="_blank" style="color: #777" rel="noopener noreferrer">
                                     LAL4162 Triratnavihāra Phalcā
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/javascript.htm' %}
</body>

</html>