{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ app_settings.APP_NAME }} - Welcome</title>

    <meta name="keywords" content="NHDP" />
    <meta name="description" content="Nepal Heritage Documentation Project">
    <meta name="author" content="NHDP">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
        rel="stylesheet" type="text/css">

    {% include 'partials/css.htm' %}
    <!-- Default css -->

</head>

<body data-spy="scroll" data-target="#navSecondary" data-offset="172">
    <div class="body">
        {% include "partials/danam_navbar.htm" %}
        <div role="main" class="main">
            <div class="container sticky-container">
                <!-- <h2 class="text-center">Pimbahal</h2> -->
                <hr>
                <div class="row pt-5 m-0">
                    <div class="col mb-4 mb-lg-0">
                        <h2 class="font-weight-normal text-7">Pimbahal</h2>
                        <figure class="mt-0" style="float: left;">
                            <a href="{% static 'img/feature_search/pimbahal.webp' %}" target="_blank" rel="noopener noreferrer">
                                <img style="margin-right: 20px; margin-bottom: 0px;" width="700" height="auto" src="{% static 'img/feature_search/pimbahal.webp' %}" alt="Bhurti Temple Complex Dailekh">
                            </a>
                            <figcaption class="thumb-info-caption-text text-uppercase text-1 pb-0 mb-0" style="max-width: fit-content;">
                                Pimbahal, view from south, photo by Christiane Brosius, 2018-09-30
                            </figcaption>
                        </figure>
                        
                        <div class="text-justify mt-0">
                            <p>
                                Like Cyāsal, Pimbahal has a vibrant political and cultural history and life that
                                also manifests in
                                its larger ensemble of monuments, and intangible heritage, and turns it into one of
                                the relevant
                                monument zones we have defined (please note that by doing so, we do not follow
                                official and
                                administrative boundaries!). Pimbahal is a unique part of Patan’s urban heritage and
                                dynamic life,
                                with a high condensation of sites used for social, religious, economic and cultural
                                purposes. For
                                this case study on DANAM, we have documented 12 phalcās and six other heritage
                                monuments, ranging
                                from monastic compound to shrine and temple
                            </p>
                            <p>
                                Similar to the Cyāsal case, too, Pimbahal’s built heritage was also affected by the
                                Gorkha
                                earthquakes of 2015. Both use their open spaces, one of the few larger ones in the
                                otherwise
                                condensed network of Old Patan, intensively. Pimbahal area and sites were quickly
                                regenerated and
                                got a ‘facelift’ that has pushed the open space around the famous pond into a
                                popular site for both
                                local residents and other visitors. As in the case of Cyāsal, Pimbahal locality is
                                made up of
                                various castes: Śreṣṭhas, Rājopādhyāyas (Newark Brahmins), Maharjanas (farmers),
                                Śākyas, , Kapālīs
                                (Newar musicians and caretaker of the temples) and Bhāratīs (Daśanāmī Sanyāsīs), for
                                instance. The
                                associations related to the area have started to revitalize some of their ritual and
                                other cultural
                                practices. Pimbahal and Cyāsal share their open squares and engaged socio-cultural
                                activities as
                                well as historic Cila͂ (possibly Ashokan, 250 BCE) Caitya. There is also a three
                                storied medieval
                                pagoda temple of Caṇḍeśvarī towards the northern side of the pond, the lineage deity
                                of Pātravaṃśa
                                Śreṣṭhas of this area. Another strong association, the to Digvijaya's Lākhe clan, is
                                to the Lākhe
                                (lit. 'demon'), and some representatives of the Pātravaṃśa Śreṣṭha clan promite this
                                association,
                                also through rejuvenation of related rituals in this particular vicinity. The pond
                                is believed to
                                have been made by Lākhes (either clan members or the premodern figure of the Lākhe
                                demon), following
                                the order of Gayo Brahman/Bāje1. All four sub-clans claim that they once migrated
                                from Banepa, a
                                small historical town located to east of the Kathmandu Valley. Each clan also
                                celebrates annual
                                linage deity worship once a year jointly and separately as well in the temple of
                                Caṇḍeśvarī. The
                                social topography around the pond contains many legends related to the famous
                                tantric Gayo Bāje and
                                the lineage goddess Caṇḍeśvarī. During the annual festival of Indrajātrā, figures of
                                Yamadyaḥ
                                (Indra) are displayed in many phalcās and samay-baji (ritual food with 5 kinds of
                                edible things like
                                beaten rice, buffalo meat, vegetable etc.) is distributed as prasāda by the donor or
                                guṭhīyāra
                                family of the sites. One also finds worship of other deities, gurus and ancestors in
                                several
                                phalcās, edcative, social and religious activities.
                                Local and municipality organisations have actively engaged in post-earthquake
                                reconstruction of
                                damaged sites around Pimbahal, Chāybahal and Sulima areas. The Jagamadu Pukhu Kṣetra
                                Vikāsa Samiti
                                (Jagamadu Pond Area Development Committee), in collaboration with Lalitpur
                                Metropolitan office and
                                World Bank, implemented the Pimbahal Pond Repair Project (almost 6 lakh Rs.), a
                                Project for Stone
                                Paving around the Pond area (almost 6 lakh Rs.) and a Rainwater Harvesting Project
                                (almost 5 lakh
                                Rs.) in 2017.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row pt-5 m-0 mb-5">
                    <div class="col mb-4 mb-lg-0">
                        <figure class="mt-0" style="float: left;">
                                <img style="margin-right: 20px; margin-bottom: 0px; height: 700px; width: 700px" usemap="#image-map" src="{% static 'img/feature_search/Pimbahal site plan.jpg' %}" alt="Bhurti Temple Complex Dailekh">
                                <map name="image-map">
                                    <area  alt="NHDP" title="Pim Bāhāḥ Caitya" href="https://danam.cats.uni-heidelberg.de/report/553b9314-e687-11e9-8bc4-0242ac130002" target="_blank" coords="195,332,59" shape="circle">
                                    <area  alt="NHDP" title="Mū Bāhāḥ" href="https://danam.cats.uni-heidelberg.de/report/b53e45b8-ebf5-11e9-b125-0242ac130002" target="_blank" coords="70,286,20" shape="circle">
                                    <area  alt="NHDP" title="Caṇḍeśvarī Mandira" href="https://danam.cats.uni-heidelberg.de/report/4165aff8-eb2f-11e9-b125-0242ac130002" target="_blank" coords="389,247,16" shape="circle">
                                    <area  alt="NHDP" title="Duru Bāhāḥ Nani" href="https://danam.cats.uni-heidelberg.de/report/939ac030-e812-11e9-b125-0242ac130002" target="_blank" coords="254,74,29" shape="circle">
                                    <area  alt="NHDP" title="Sulīma Āgama" href="https://danam.cats.uni-heidelberg.de/report/2c4ddb84-f419-11e9-a3c8-0242ac130002" target="_blank" coords="497,223,32" shape="circle">
                                    <area  alt="NHDP" title="Ratneśvara Mahādeva" href="https://danam.cats.uni-heidelberg.de/report/b717f92c-5e11-11ea-8083-0242ac130006" target="_blank" coords="520,163,24" shape="circle">
                                    <area  alt="NHDP" title="Caṇḍeśvarī Dharmaśālā" href="https://danam.cats.uni-heidelberg.de/report/2fa561e9-6f62-4663-bae9-fdaeb0aee1a1" target="_blank" coords="436,255,14" shape="circle">
                                    <area  alt="NHDP" title="Pukhula Phalcā" href="https://danam.cats.uni-heidelberg.de/report/1914bb16-0362-11ea-a389-0242ac130002" target="_blank" coords="272,352,13" shape="circle">
                                    <area  alt="NHDP" title="Jagamaru Pukhū Phalcā" href="https://danam.cats.uni-heidelberg.de/report/8fa97d24-02ff-11ea-a389-0242ac130002" target="_blank" coords="341,378,24" shape="circle">
                                    <area  alt="NHDP" title="Maṇḍapa Phalcā" href="https://danam.cats.uni-heidelberg.de/report/958fbc2c-e837-11e9-8bc4-0242ac130002" target="_blank" coords="226,433,14" shape="circle">
                                    <area  alt="NHDP" title="Calakhu Bhairava Phalcā" href="https://danam.cats.uni-heidelberg.de/report/e6f72884-e774-11e9-b125-0242ac130002" target="_blank" coords="425,601,12" shape="circle">
                                    <area  alt="NHDP" title="Calakhu Phalcā" href="https://danam.cats.uni-heidelberg.de/report/55133c56-e68d-11e9-b125-0242ac130002" target="_blank" coords="466,621,15" shape="circle">
                                </map>
                            <figcaption class="thumb-info-caption-text text-uppercase text-1 pb-0 mb-0" style="max-width: fit-content;">
                                PIMBAHAL, SITE PLAN BY NIELS GUTSCHOW AND BIJAY BASUKALA, 1990
                            </figcaption>
                        </figure>
                        <div class="d-flex flex-column">
                            <p class="pl-4 pr-4 pb-0 text-4 font-weight-bold">Links to individual monuments</p>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/553b9314-e687-11e9-8bc4-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL0750 Pim Bāhāḥ Caitya
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/b53e45b8-ebf5-11e9-b125-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL0760 Mū Bāhāḥ
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/4165aff8-eb2f-11e9-b125-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL0770 Caṇḍeśvarī Mandira
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/939ac030-e812-11e9-b125-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL0780 Duru Bāhāḥ Nani
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/2c4ddb84-f419-11e9-a3c8-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL0790 Sulīma Āgama
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/b717f92c-5e11-11ea-8083-0242ac130006" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL0800 Ratneśvara Mahādeva
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/2fa561e9-6f62-4663-bae9-fdaeb0aee1a1" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL4216 Caṇḍeśvarī Dharmaśālā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/1914bb16-0362-11ea-a389-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL4218 Pukhula Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/8fa97d24-02ff-11ea-a389-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL4219 Jagamaru Pukhū Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/958fbc2c-e837-11e9-8bc4-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL4221 Maṇḍapa Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/e6f72884-e774-11e9-b125-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL4222 Calakhu Bhairava Phalcā
                                </a>
                            </div>
                            <div class="pl-4 pr-4">
                                <a href="https://danam.cats.uni-heidelberg.de/report/55133c56-e68d-11e9-b125-0242ac130002" target="_blank" style="color: #777" rel="noopener noreferrer">
                                    LAL4224 Calakhu Phalcā                                
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} <sup id="fn1">1. For such legend or oral history of the locality see: 1999, Sharma, Nutandhar, "The
                    Legends of 'Gayahbajya' of Patan in the Kathmandu Valley", in: Contributions to Nepalese Studies,
                    Vol. 26, No. 2, Kathmandu: CNAS, pp. 239-256<a href="#ref1"
                        title="Jump back to footnote 1 in the text.">↩</a></sup>
                <p>
                    For more information about Dhũllā Sataḥ, please visit the <a
                        href="https://danam.cats.uni-heidelberg.de/report/86169b6e-9e60-4014-b364-17010e9dae15"
                        target="_blank" class="text-decoration-none">DANAM</a> database.
                </p>
                <hr class="mt-5"> {% endcomment %}
            </div>
        </div>
    </div>
    {% include 'partials/javascript.htm' %}
</body>

</html>