{% extends 'MoM/base.htm' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">

    <div class="row pt-5 m-0">
        <div class="col mb-4 mb-lg-0">
            <h2 class="font-weight-normal text-7 mb-2">{{monument.title}}</h2> 
            {% if monument.author %}
            <h4 class="font-weight-normal text-4 mt-0">Curated by {{monument.author}}</h4>
            {% endif %}
            <figure class="mt-0" style="float: left;">
                <a href="{{monument.image.url}}" target="_blank" rel="noopener noreferrer">
                    <img style="margin-right: 20px; margin-bottom: 0px;" height="500" src="{{monument.image.url}}"
                        alt="{{monument.title}}">
                </a>
                <figcaption class="thumb-info-caption-text text-uppercase text-1 pb-0 mb-0"
                    style="max-width: fit-content;">
                    {{monument.caption}}
                </figcaption>
            </figure>
            <div class="text-justify mt-0">
                <p>
                    {{monument.description|safe}}
                </p>
            </div>
        </div>
    </div>
    <hr>
    {% if user.username != 'anonymous' %}
    <a href="{% url 'mom-update' monument.uuid monument.slug  %}"><button type="button"
            class="btn btn-3d btn-primary rounded-0 mb-2 mr-3">Update</button></a>
    {% endif %}
    {% if user.username != 'anonymous' %}
    <a href="{% url 'mom-delete' monument.uuid monument.slug    %}"><button type="button"
            class="btn btn-3d btn-danger rounded-0 mb-2">Delete</button></a>
    {% endif %}
    <hr class="mb-5">
</div>
{% endblock %}
{% block footer %}
{% endblock footer %}