{% extends 'MoM/base.htm' %}
{% load static %}
{% load i18n %}

{% block content %}

<div id="content-container" class="container p-none pt-5">
    <div class="side-p">
        <h1>Are you sure?</h1>
        <form action="" method="post">
            {% csrf_token %}
            <p class="text-5">You're about to delete <strong class="text-danger">"{{ pdf.title }}"</strong>. Please confirm.</p>
            <input class="btn btn-danger" type="submit" value="Confirm"/>
            <input class="btn btn-link" selected="" 
                   type="button" value="Cancel" 
                   onclick="window.history.go(-1);"/>
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock footer %}