{% load staticfiles %} {% load template_tags %} {% load i18n %}

<footer id="footer" class="mt-0 mb-0">
    <div class="container">
        <div class="footer-ribbon text-2">
            <span>Get in Touch</span>
        </div>
        <div class="row py-3 my-4 pb-0 pt-1">
            <div class="col-md-8 col-lg-8 mb-0 mb-lg-0">
                <p class="mb-2">NEPAL HERITAGE DOCUMENTATION PROJECT</p>
                <div class="row">
                    <div class="col">
                        <h6 class="text-4 mb-0 pb-1">Heidelberg, Germany</h6>
                        <p class="mb-2">Prof. Dr. Christiane Brosius</p>
                        <p class="mb-2">Heidelberg Centre for Transcultural Studies</p>
                        <ul class="list list-icons list-icons-lg">
                            <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i>
                                <p class="m-0">Voßstraße 2, Building 4400<br />
                                    D-69115 Heidelberg</p>
                            </li>
                            <li class="mb-1"><i class="far fa-envelope text-color-primary"></i>
                                <p class="m-0"><a href="mailto:nhdp@asia-europe.uni-heidelberg.de"
                                        target="_blank">nhdp@asia-europe.uni-heidelberg.de</a></p>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="col">
                        <h6 class="text-4 mb-0 pb-1">NEPAL</h6>
                        <ul class="list list-icons list-icons-lg">
                            <p class="mb-2">Rishi Amatya</p>
                            <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i>
                                <p class="m-0">Sulima Square, Patandhoka
                                <br />
                                Lalitpur, Nepal
                            </p>
                            </li>
                            <li class="mb-1"><i class="far fa-envelope text-color-primary"></i>
                                <p class="m-0"><a href="mailto:rishi.amatya@hcts.uni-heidelberg.de"
                                        target="_blank">rishi.amatya@hcts.uni-heidelberg.de</a></p>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <ul class="social-icons mt-1 mb-1">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                            title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/nepal-heritage-documentation-project/" target="_blank"
                        title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
 
            <div class="col-lg-2">
                <h5 class="text-3 mb-0">DANAM is powered by</h5>
                <a href="https://www.archesproject.org/" target="_blank">
                    <img src="{% static '/img/arches_white.png' %}" class="d-inline-block img-fluid" alt="archeslogo">
                </a>
            </div>
            <div class="col-lg-2">
                <h5 class="text-3 text-center mb-3">Scan here</h5>
                <img src="{% static 'img/danam-qr.svg' %}" class="d-inline-block img-fluid" alt="DANAM qr code">
            </div>
        </div>
    </div>
</footer>